ReactJs_Kliens/ReactJs_Kliens/Connected Services/ServiceReference1/Service11.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:50082/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Server" />
  <xs:element name="EgyKutyaGet">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="EgyKutyaGetResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Server" minOccurs="0" name="EgyKutyaGetResult" nillable="true" type="q1:Kutyus" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EgyKutyaPost">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="EgyKutyaPostResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Server" minOccurs="0" name="EgyKutyaPostResult" nillable="true" type="q2:Kutyus" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="KutyaLista">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="KutyaListaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Server" minOccurs="0" name="KutyaListaResult" nillable="true" type="q3:ArrayOfKutyus" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>