ReactJs_Kliens/ReactJs_Kliens/Connected Services/ServiceReference1/Service12.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Server" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Server" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Kutyus">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:Record">
        <xs:sequence>
          <xs:element minOccurs="0" name="eletkor" type="xs:unsignedByte" />
          <xs:element minOccurs="0" name="fajta" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="gazdi" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="labakSzama" type="xs:unsignedByte" />
          <xs:element minOccurs="0" name="neme" type="xs:boolean" />
          <xs:element minOccurs="0" name="nev" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Kutyus" nillable="true" type="tns:Kutyus" />
  <xs:complexType name="Record">
    <xs:sequence>
      <xs:element minOccurs="0" name="id" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Record" nillable="true" type="tns:Record" />
  <xs:complexType name="ArrayOfKutyus">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Kutyus" nillable="true" type="tns:Kutyus" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfKutyus" nillable="true" type="tns:ArrayOfKutyus" />
</xs:schema>